button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to bottom, #59be71, #59be71) no-repeat center;
  background-size: 100% 10%;
  transition: background-size 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
}
button:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #85c853;
  transition: transform 0.3s ease-in-out;
}
button:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #2fb58d;
  transition: transform 0.3s ease-in-out;
}
button:before {
  top: 5px;
}
button:after {
  bottom: 5px;
}
button.active {
  background-size: 0 0;
}
button.active:before {
  transform: translateY(280%) rotate(45deg);
}
button.active:after {
  transform: translateY(-280%) rotate(-45deg);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
