/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*나눔스퀘어 네오*/
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

/*clearfix*/
.cf:after {
  clear: both;
  content: '';
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareAc', sans-serif;
}

/* text-decoration: line-through; */

/*layout*/

.earlyBird_wrap {
  display: flex;
  width: 1120px;
  margin: 0 auto;
}

.earlyBird_wrap > .earlyBird-left {
  width: 680px;
  height: auto;
  min-height: 500px;
  padding: 65px 20px;
  padding-right: 50px;
}
.earlyBird_wrap > .earlyBird-right {
  width: 440px;
  height: auto;
  min-height: 500px;
  background: #f7f7f7;
  padding: 35px 20px;
}

.earlyBird_wrap article {
  margin-bottom: 40px;
}
.earlyBird_wrap article h5,
.earlyBird_wrap aside h5 {
  position: relative;
  color: #284c39;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}
.earlyBird_wrap article h5::before,
.earlyBird_wrap aside h5::before {
  position: absolute;
  top: 7px;
  left: -20px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #91c565;
  border-radius: 50%;
}
.earlyBird_wrap .earlyBird-left__orderProduct {
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px 30px;
  border-radius: 15px;
  border: 1px solid #c2c1c4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*countdown*/
.contdown-wrap {
  width: 100%;
  padding: 30px 50px 70px;
  height: auto;
  background: #14265a;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.countdown-text .img-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.contdown-wrap .img-wrap img {
  width: 116px;
  height: auto;
}
.countdown-text .sub-title {
  width: 100%;
  display: block;
  color: #f7d22e;
  font-size: 22px;
  text-align: center;
}
.countdown-text .title {
  width: 100%;
  display: block;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.countdown-text .countdown-description {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 70px;
  color: #ccfbfd;
  text-align: center;
}
.countdown-sticky-wrap .countdown-description {
  line-height: 50px;
}
.countdown {
  width: 100%;
  display: flex;
  position: relative;
}

.countdown ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.countdown li {
  background: #fff;
  border-radius: 10px;
  position: relative;
  width: 23%;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  list-style-type: none;
  line-height: 65px;
  text-transform: uppercase;
  color: #131313;
  text-align: center;
}

.countdown li span {
  display: inline-block;
  font-size: 26px;
}
.description {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #707070;
  font-size: 14px;
  border-radius: 10px;
}
.description span {
  display: block;
}
.order-price-wrap {
  width: 100%;
  height: auto;
  background: #fff;
  border: 2px solid #5d847c;
  border-bottom: 0px;
  padding: 30px;
  padding-bottom: 0px;
}
.order-price-bg {
  background: #f8f8f8;
  padding: 20px;
}
.order-price-bg .order-price {
  display: flex;
}
.order-price-bg .order-price .priceName {
  font-size: 18px;
  font-weight: 900;
  color: #242624;
  margin-right: auto;
  font-family: 'NanumSquareAc', sans-serif;
}
.order-price-bg .order-price .price {
  font-size: 22px;
  font-weight: 500;
  color: #2c5c36;
  position: relative;
  top: -2px;
}
.order-price-bg .order-price .priceUnit {
  font-size: 18px;
  color: #2c5c36;
  position: relative;
  top: 2px;
}

dl.order-price-detail {
  border-left: 2px solid #767678;
  padding-left: 20px;
  color: #767678;
  margin-top: 20px;
}
dl.order-price-detail dt {
  font-size: 16px;
  font-weight: 500;
}
dl.order-price-detail dd {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  margin: 10px 0px;
}

dl.order-price-detail dd .priceName {
  margin-right: auto;
}

dl.order-price-detail dd .closeBtn {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #767678;
  border-radius: 50%;
  margin-left: 5px;
  top: 2px;
  margin-right: -5px;
}

dl.order-price-detail dd .closeBtn::before {
  position: absolute;
  top: 7px;
  left: 3px;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #767678;
  transform: rotate(45deg);
}

dl.order-price-detail dd .closeBtn::after {
  position: absolute;
  top: 7px;
  left: 3px;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #767678;
  transform: rotate(-45deg);
}

.pay-method-guide {
  width: 100%;
  height: auto;
  background: #f8f8f8;
  border: 1px solid #b0aeb2;
  border-radius: 15px;
  padding: 30px 10px;
  padding-left: 40px;
  font-size: 14px;
}
.pay-method-guide dl {
  color: #6b6b6b;
  display: flex;
  width: 100%;
  font-size: 14px;
}
.pay-method-guide dl dt {
  position: relative;
  display: block;
  width: 25%;
}
.pay-method-guide dl dt::before {
  position: absolute;
  top: 9px;
  left: -10px;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #d6d9d6;
}
.pay-method-guide dl dd {
  display: block;
  width: 70%;
}
.pay-method-guide span {
  display: block;
  width: 100%;
}
.pay-method-guide span.detail-button {
  display: inline-block;
  font-size: 8px;
  background: #767678;
  color: #fafafa;
  width: auto;
  padding: 3px 8px;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  top: -2px;
  left: 5px;
}
.countdown-sticky-wrap {
  width: 610px;
  height: auto;
  background: #14265a;
  position: relative;
  z-index: 3;
  visibility: hidden;
}
.countdown-sticky-wrap .countdown-text b {
  width: 100%;
  background: #fcee64;
  font-size: 18px;
  color: #182657;
  line-height: 50px;
}
.countdown-sticky-wrap .countdown {
  padding: 0px 60px;
  padding-bottom: 30px;
}
.sticky {
  visibility: visible;
  position: fixed;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.Rsticky {
  z-index: 10;
  width: 400px;
  visibility: visible;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
}

/*Reset*/
dl,
ol,
ul {
  margin-bottom: 0px;
}
.earlyBird-right .sticky {
  position: sticky;
  top: 0px;
  padding-top: 30px;
}
.earlyBird-right .studyDetail {
  width: 100%;
  height: auto;
  background: #f2f9f5;
  border: 2px solid #65837c;
  border-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
  padding: 30px 35px;
}
.earlyBird-right .studyDetail hr.line {
  width: 100%;
  height: 2px;
  background: #767678;
  border-radius: 10px;
  margin: 30px 0px;
}

.earlyBird-right .studyDetail .title-label {
  display: inline-block;
  background: #5bd06f;
  color: #fff;
  padding: 13px 20px;
  padding-left: 15px;
  line-height: 1em;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.earlyBird-right .studyDetail .title-label .emoji {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: -1px;
}
.earlyBird-right .studyDetail h6 {
  font-size: 24px;
  color: #242624;
  font-weight: 900;
  margin-bottom: 20px;
}
.earlyBird-right .studyDetail .deadline-date {
  font-size: 15px;
  color: #242624;
  font-weight: 700;
}
.earlyBird-right .studyDetail .deadline-date .deadline-date__date {
  font-size: 11px;
  color: #838483;
  background: #fff;
  line-height: 1em;
  border: 1px solid #707070;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  position: relative;
  margin-right: 5px;
  top: -1px;
}

.earlyBird-right .studyDetail > ol {
  margin-bottom: 25px;
}

.earlyBird-right .studyDetail > ol > li {
  border-left: 2px solid #767678;
  padding-left: 20px;
  line-height: 2.5em;
  color: #767678;
  font-weight: 500;
}
.earlyBird-right .studyDetail > ol > li label {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: flex-end;
}
.earlyBird-right .studyDetail > ol > li .priceName {
  font-size: 18px;
  margin-right: auto;
  font-weight: 500;
}
.earlyBird-right .studyDetail > ol > li .priceName.w100 {
  width: 100%;
  font-weight: 500;
}
.earlyBird-right .studyDetail > ol > li .discount-label {
  display: inline-block;
  font-size: 11px;
  height: 30px;
  color: #fff;
  padding: 5px;
  font-weight: 600;
  line-height: 1.75em;
  padding-left: 12px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
  background: url('../../img/img_discount_label.png') no-repeat;
  background-size: contain;
}

.earlyBird-right .studyDetail > ol > li .price {
  font-size: 18px;
  font-weight: 500;
}

.earlyBird-right .studyDetail > ol > li .priceUnit {
  font-size: 16px;
  display: inline-block;
  margin-left: 2px;
  font-weight: 500;
}

.earlyBird-right .studyDetail > ol > li .before-price-wrap {
  display: flex;
  justify-content: flex-end;
  color: #b0aeb2;
  width: 100%;
  line-height: 1em;
}
.earlyBird-right .studyDetail > ol > li .before-price-wrap .before-priceName {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
.earlyBird-right .studyDetail > ol > li .before-price-wrap .before-price {
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
  position: relative;
  top: -1px;
}
.earlyBird-right .studyDetail > ol > li .before-price-wrap .before-priceUnit {
  font-size: 14px;
  font-weight: 500;
  margin-left: 2px;
}

/*disabled*/

.earlyBird-right .studyDetail.disabled {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #b0aeb2;
  border-radius: 15px;
  padding: 30px 35px;
  margin-bottom: 30px;
}

.earlyBird-right .studyDetail.disabled .title-label {
  display: inline-block;
  background: #767678;
  color: #fff;
  padding: 13px 20px;
  line-height: 1em;
  border-radius: 45px;
  font-size: 20px;
  font-weight: 700;
}

.earlyBird-right .studyDetail.disabled > ol > li .discount-label {
  background: url('../../img/img_discount_label_disabled.png') no-repeat;
  background-size: contain;
}

.earlyBird-right .studyDetail.disabled .title-label .emoji {
  display: none;
}
.earlyBird-right .studyDetail.disabled .deadline-date {
  color: #767678;
  font-weight: 500;
}
.earlyBird-right .studyDetail.disabled h6 {
  font-size: 24px;
  color: #767678;
  font-weight: 900;
}

.earlyBird-right .studyDetail.disabled .description {
  display: none;
}

.earlyBird-right .studyDetail.disabled > ol {
  margin-bottom: 0px;
}

.earlyBird-right .payPrice {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 45px;
  padding-bottom: 10px;
  background: #5bb28e;
  color: #fff;
}
.earlyBird-right .payPrice .priceName {
  font-family: 'NanumSquareAc', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: auto;
}
.earlyBird-right .payPrice .price {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  top: -4px;
}
.earlyBird-right .payPrice .priceUnit {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
}
.earlyBird-right .button-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background: #fff;
  border: 2px solid #5d847c;
  border-radius: 0 0 15px 15px;
  border-top: 0px;
  margin-bottom: 30px;
}

.earlyBird-right .button-wrap .shareBtn {
  background: #fff url('../../img/IC_share.png') 45% center no-repeat;
  background-size: 50%;
  width: 70px;
  height: 60px;
  border-radius: 0 10px 10px 10px;
  border: 2px solid #c2c1c4;
}

.earlyBird_wrap button.btnST02 {
  width: 78%;
  height: 60px;
  font-size: 22px;
  border: 2px solid #c2c1c4;
  color: #242624;
  font-weight: bold;
  background: #f8f8f8;
  border-radius: 0 15px 15px 15px;
}
.earlyBird_wrap button.btnST02.active {
  border: 2px solid #51857c;
  color: #f8f8f8;
  background: #51857c;
}

.earlyBird_wrap .pay-right button.btnST02 {
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*checkbox / radio*/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 9px;
  left: -4px;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #cfd0d2;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control.control--checkbox input:checked ~ .control__indicator {
  /* background: #2aa1c0; */
  background: #54bbb7;
}
.control.control--radio input:checked ~ .control__indicator {
  /* background: #2aa1c0; */
  background: #fff;
}
.control.control--radio:hover input:not([disabled]):checked ~ .control__indicator,
.control.control--radio input:checked:focus ~ .control__indicator {
  background: #f8f8f8;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control--checkbox .control__indicator:after {
  content: '';
  position: absolute;
  display: block;
  color: #cfd0d2;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 4px;
  top: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #54bbb7;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*label custom*/

.control:hover .priceName {
  color: #242624;
  font-weight: 700;
}

.control:hover .price,
.control:hover .priceUnit {
  color: #2c5c36;
  font-weight: 700;
}

.disabled .control:hover .priceName {
  color: #767678;
  font-weight: 500;
}

.disabled .control:hover .price,
.disabled .control:hover .priceUnit {
  color: #767678;
  font-weight: 500;
}

.Rsticky .topBtn-wrap {
  display: flex;
}

.topBtn-wrap {
  width: 100%;
  height: auto;
  justify-content: center;
  display: none;
}

a.topBtn {
  color: #767678;
  font-size: 18px;
  font-weight: 600;
}
a.topBtn:hover {
  text-decoration: none;
  color: #5bb28e;
}

.topBtn img {
  width: 25px;
  height: auto;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.Mo-payPrice-wrap {
  display: none;
}

/* Arrow function */
/* Arrow holder */
.arrowed {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0 20px 20px 0;
}

/* Just centering the examples */
.arrowed div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* -- ARROW 1      -- */

.arrow-1 {
  height: 15px;
  width: 15px;
  border: 1px solid #cdcad1;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
}

.d-flex {
  display: flex;
}

.up {
  transform: translateY(-5%);
}

.down {
  transform: translateY(0%);
}

.btn-active a {
  color: #000 !important;
}

.center {
  justify-content: center;
  align-items: center;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
}

.function-top {
  width: 100%;
}
.function-top ul {
  display: inline-block;
  width: 100%;
}
.function-top.up ul {
  display: none;
}

.function-top ul li {
  font-size: 14px;
  color: #767678;
  display: flex;
}

.function-top ul li .priceName {
  margin-right: auto;
}

.function-top,
.function-down {
  position: relative;
  padding: 0;
  transition: all 0.5s;
}

.function-top li a,
.function-down li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.function-down h2 {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 800;
}
.function-down p {
  font-size: 20px;
  font-weight: 800;
  margin-left: 16px;
}
.function-down li a {
  color: #aaa;
}
.function-down li i {
  margin-right: 0;
}

.toggle-up {
  transition: all 0.8s;
  position: absolute;
  cursor: pointer;
  right: 69%;
  top: -26px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 0;
  line-height: 70px;
}

.toggle-up .arrowed {
  width: 10px;
  height: 10px;
  margin: 0;
}
.toggle-up .arrow-2 {
  height: 10px;
  width: 10px;
  border: 1px solid #cdcad1;
  border-width: 1px 1px 0 0;
  transform: rotate(-45deg);
}

.active .arrow-2 {
  transform: rotate(135deg);
}

.toggle-down {
  z-index: 1;
  transition: all 0.8s;
  cursor: pointer;
  position: absolute;
  right: auto;
  left: 100px;
  bottom: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.toggle-down.active {
  bottom: 15px;
}
.toggle-down .arrow-1 {
  border: 1px solid #68b271;
  border-width: 0px 0px 1px 1px;
}

.toggle-down.active .arrow-1 {
  transform: rotate(-45deg);
}
.function-down {
  visibility: hidden;
}

/*max-width: 960px*/
@media (max-width: 960px) {
  .earlyBird_wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .earlyBird_wrap > .earlyBird-left {
    width: 100%;
    padding: 0;
  }
  .earlyBird_wrap > .earlyBird-right {
    width: 100%;
  }
  .mob_box {
    display: none;
  }
  .countdown-sticky-wrap {
    width: 100%;
  }
  .countdown-sticky-wrap.sticky {
    bottom: 67px;
  }
  .countdown {
    width: 80%;
    margin: 0 auto;
  }

  /*arrow Function*/

  .function-down {
    visibility: visible;
  }
  .function-down {
    position: fixed;
    bottom: 66px;
    width: 100%;
    margin-left: -22px;
  }
  .function-down .paymentDetail {
    display: none;
  }

  .function-down.down .paymentDetail {
    display: block;
    width: 100%;
    height: 50vh;
    background: #fff;
    border: 2px solid #5d847c;
    padding: 25px;
    border-radius: 15px 15px 0 0;
    overflow-y: scroll;
  }
  .function-down.down .paymentDetail .paymentDetail-BG {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 15px 15px 0 0;
  }

  .Mo-payPrice-wrap {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
  }

  .Mo-payPrice-wrap .payPrice-button-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    border: 2px solid #5d847c;
    background: #f8f8f8;
    padding: 10px 20px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .priceName {
    width: 100%;
    font-size: 11px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .price {
    font-size: 18px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .priceUnit {
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-left: 3px;
    top: 2px;
  }

  .Mo-payPrice-wrap .payPrice-button-wrap .btnST02 {
    width: 50%;
    width: 49%;
    height: 40px;
    font-size: 14px;
    border-radius: 0 7px 7px 7px;
  }
  .function-down .paymentDetail__orderPrice {
    display: flex;
    margin-bottom: 10px;
  }
  .function-down .paymentDetail__orderPrice .priceName {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-right: auto;
  }
  .function-down .paymentDetail__orderPrice .price {
    font-size: 15px;
    color: #2c5c36;
    position: relative;
    top: -2px;
  }
  .function-down .paymentDetail__orderPrice .priceUnit {
    font-size: 13px;
    color: #2c5c36;
    display: inline-block;
    margin-left: 3px;
  }
  .function-down .paymentDetail ol li {
    border-left: 1px solid #767678;
    padding-left: 10px;
    line-height: 2em;
    color: #767678;
    display: flex;
  }
  .function-down .paymentDetail ol li .priceName {
    font-size: 12px;
    font-weight: 700;
    margin-right: auto;
  }
  .function-down .paymentDetail ol li .price {
    font-size: 13px;
    font-weight: 700;
  }
  .function-down .paymentDetail ol li .priceUnit {
    font-size: 10px;
    display: inline-block;
    margin-left: 3px;
  }
}

/*max-width: 768px*/
@media (max-width: 768px) {
}

/*max-width: 500px*/
@media (max-width: 500px) {
  .contdown-wrap {
    padding-bottom: 40px;
  }
  .countdown {
    width: 100%;
  }
  .countdown li {
    font-size: 22px;
  }
  .countdown li span {
    font-size: 22px;
  }
  .countdown-text .sub-title {
    font-size: 18px;
  }
  .countdown-text .title {
    font-size: 24px;
  }
  .countdown-text .countdown-description {
    font-size: 14px;
    line-height: 45px;
  }
  .countdown-sticky-wrap .countdown {
    padding-bottom: 15px;
  }
  .countdown-sticky-wrap .countdown li {
    font-size: 18px;
    line-height: 40px;
  }
  .countdown-sticky-wrap .countdown li span {
    font-size: 18px;
  }
  .countdown-sticky-wrap .countdown-text b {
    font-size: 14px;
    line-height: 35px;
  }
}

/*max-width: 361px*/
@media (max-width: 361px) {
  .countdown li {
    font-size: 18px;
  }
  .countdown li span {
    font-size: 18px;
  }
}
