/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*나눔스퀘어 네오*/
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

/*clearfix*/
.cf:after {
  clear: both;
  content: '';
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareAc', sans-serif;
}

:root {
  --body-color: #2c2d2a;
  --beach-bg: #e7dfcf;
  --glacier-bg: #b6d6c8;
  --coral-bg: #e86357;
  --arrow-fill: #333231;
  --body-font: 'Pretendard', serif;
  --title-font: 'NanumSquareAc', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
}

.boxBook {
  margin: 0 auto;
  max-width: 1120px;
  max-height: 680px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background: var(--glacier-bg) url('/img/img_slide_bg.png') no-repeat;
  background-size: contain;
  padding-left: 100px;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 480px) {
  .boxBook {
    height: 100%;
    max-height: 100%;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f8f8f8;
}
@media screen and (max-width: 930px) {
  .left-side {
    text-align: center;
    max-width: 450px;
  }
}

.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.main-slide {
  padding: 0px;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.right-side__img {
  width: 550px;
  height: auto;
}
@media screen and (max-width: 930px) {
  .main-slide {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.main-header {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.2s;
}
.main-title {
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
  line-height: 1em;
  transition-delay: 0.3s;
  letter-spacing: 1px;
}
.main-title b {
  font-weight: 900;
}
.main-subtitle {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 60px;
  transition-delay: 0.4s;
  border-left: 2px solid #fff;
  padding-left: 10px;
}
.main-content__title {
  position: absolute;
  width: 300px;
  height: auto;
  top: -75px;
  left: 140px;
  font-style: italic;
  margin-bottom: 14px;
  transition-delay: 0.2s;
}
.main-content__subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}
.main-content .more-menu {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition-delay: 0.4s;
  background: #4ca170;
  color: #fff;
  display: inline-block;
  border-radius: 0 10px 10px 10px;
  margin-top: 11px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main-content .more-menu a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 7px 30px;
  letter-spacing: 1px;
}
@media screen and (max-width: 930px) {
  .main-content .more-menu {
    justify-content: center;
  }
}
.main-content .more-menu svg {
  width: 28px;
  height: 18px;
  margin-left: 10px;
}

.right-side {
  display: flex;
  position: absolute;
  flex-shrink: 0;
  right: 40px;
  top: 0px;
}
@media screen and (max-width: 930px) {
  .right-side {
    margin-left: 0;
    margin-bottom: 56px;
  }
}

.center .bottle-img {
  position: absolute;
  top: 15%;
  left: 0;
  transform: scale(1.6);
}

.swiper-pagination {
  position: absolute;
  right: 52%;
  left: auto;
  top: 100px;
  width: auto;
  bottom: auto;
  z-index: 2;
  color: #f8f8f8;
  font-size: 14px;
  font-family: var(--body-font);
  font-weight: 500;
}

.button-wrapper {
  position: absolute;
  left: 100px;
  top: 47%;
  z-index: 1;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 930px) {
  .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
}
@media screen and (max-width: 575px) {
  .button-wrapper {
    padding: 0 20px;
  }
}
.button-wrapper svg {
  width: 28px;
  color: #ddd;
}
.button-wrapper .swiper-button {
  border: 1px solid #555;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.button-wrapper .swiper-button + .swiper-button {
  margin-left: 16px;
}
@media screen and (max-width: 930px) {
  .button-wrapper .swiper-button + .swiper-button {
    margin-left: 0;
  }
}
.button-wrapper .swiper-button:hover {
  background-color: var(--body-color);
  background-position: left bottom;
}
.button-wrapper .swiper-button:hover svg {
  stroke: #fff;
}
.button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}
.button-wrapper .swiper-prev-button svg {
  transform: rotate(-180deg);
}
.button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .book-img {
  transition-duration: 0.8s;
  transform: scale(0.5);
  opacity: 0;
}

.swiper-slide-active .book-img {
  opacity: 1;
  transform: scale(1);
}

.swiper-slide .bottle-img {
  transition-duration: 0.8s;
  transform: scale(0.5);
  opacity: 0;
}

.swiper-slide-active .bottle-img {
  opacity: 1;
  transform: scale(1);
}

.Sec-title {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}
.Sec-title span {
  color: #709d78;
}

.main-content {
  position: absolute;
  top: 50%;
}
[data-sld='1'] .boxBook {
  background: var(--beach-bg) url('/img/img_slide_bg.png') no-repeat;
  background-size: contain;
}

[data-sld='2'] .boxBook {
  background: var(--coral-bg) url('/img/img_slide_bg.png') no-repeat;
  background-size: contain;
}
