/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*나눔스퀘어 네오*/
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

/*clearfix*/
.cf:after {
  clear: both;
  content: '';
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareAc', sans-serif;
}

/* text-decoration: line-through; */

/*layout*/

.mypay-wrap {
  display: flex;
  width: 1120px;
  margin: 0 auto;
  font-family: 'Pretendard', serif;
}

.mypay-left {
  display: flex;
  width: 280px;
}

.mypay-right {
  width: 840px;
  background: #f4f4f4;
  padding: 20px;
}

/*mypay-left*/

.mypay-left .menu__box {
  font-family: 'Pretendard', serif;
  display: block;
  position: relative;
  left: 0px;
  z-index: 100;
  width: 280px;
  height: 100%;

  margin: 0;

  list-style: none;

  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.mypay-left .menu__box .memberMenu {
  background: #3e877c;
  padding: 25px;
  margin-bottom: 15px;
}
.mypay-left .menu__box .memberMenu .profile {
  width: 76px;
  height: 76px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  left: 10px;
  color: #ddd;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypay-left .menu__box .memberMenu .alarm_noti {
  position: relative;
  top: -10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: url('/img/IC_alarmBell.png');
  background-size: contain;
  cursor: pointer;
}
.mypay-left .menu__box .memberMenu .alarm_noti span {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25px; /*황홍 12/23 추가요청*/
  height: 25px; /*황홍 12/23 추가요청*/
  border-radius: 50%;
  background: #ef833a;
  color: #fff;
  font-weight: 700;
  line-height: 26px; /*황홍 12/23 추가요청*/
}
.mypay-left .menu__box .memberMenu .prof_text {
  position: relative;
  top: 20px;
  left: 27px;
  letter-spacing: 1px;
  color: #fff;
}
.mypay-left .menu__box .memberMenu .prof_text span {
  font-size: 14px;
}
.mypay-left .menu__box .memberMenu .prof_text b {
  font-size: 17px;
  font-weight: 900;
}
.mypay-left .menu__box .memberMenu ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mypay-left .menu__box .memberMenu ol button {
  margin-top: 15px;
}
.mypay-left .menu__box .memberMenu ol button.MT0 {
  margin-top: 0px;
}
.mypay-left .menu__box .menu__item {
  display: block;
  padding: 18px 14px;

  color: #63666b;
  border-bottom: 2px solid #d3d0d7;

  font-size: 14px;
  margin: 0 25px;

  text-decoration: none;

  transition-duration: 0.25s;
}

.mypay-left .menu__box .menu__item {
  background: no-repeat right/8% url('/img/IC_link.png');
  background-position: center right 20px;
}
.mypay-left .menu__box a.menu__item {
  line-height: 1em;
}
.mypay-left .menu__box .sub_menu {
  margin: 25px;
  margin-top: 15px;
  display: flex;
}
.mypay-left .menu__box .sub_menu ol {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mypay-left .menu__box button {
  border-radius: 0 10px 10px 10px;
  font-weight: 700;
  width: 103px;
  height: 36px;
}
.mypay-left .menu__box .sub_menu ol li button {
  border: 1px solid #d3d0d6;
  color: #64666b;
}

.mypay-left .menu__box button.btn-pos {
  background: #fff;
  color: #5b9379;
  border: 1px solid #66a889;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mypay-left .menu__box button.btn-neg {
  background: #0a1715;
  color: #94c073;
  border: 1px solid #0a1715;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mypay-left .menu__box button.btn-neu {
  border: 1px solid #d3d0d6;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.mypay-left .menu__box button.btn-change {
  padding-left: 0px;
  /* background: no-repeat right/12% url('/img/IC_change.png'); */
  background-position: center right 10px;
  background-color: #fff;
}
.mypay-left .menu__box button.btn-change span {
  position: relative;
  left: 0px;
}

/*mypay-right*/

.mypay-right .breadcrumbs {
  width: 100%;
  height: 70px;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  padding: 30px;
  line-height: 1em;
  margin-bottom: 20px;
}

.mypay-right .breadcrumbs h1 {
  font-size: 22px;
  color: #284c39;
  font-weight: 500;
}
.mypay-right .breadcrumbs h2 {
  font-size: 22px;
  color: #d3d0d6;
  font-weight: 500;
  padding-right: 50px;
  background: no-repeat right/8% url('/img/IC_link.png');
  background-position: center right 20px;
}

.mypay-right .contents-wrap {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin-bottom: 30px;
}
.mypay-right .contents-wrap h5 {
  position: relative;
  color: #284c39;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}
.mypay-right .contents-wrap span.order-number {
  position: absolute;
  top: 40px;
  right: 55px;
  font-size: 16px;
  color: #888888;
}
.mypay-right .contents-wrap h5::before {
  position: absolute;
  top: 7px;
  left: -20px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #91c565;
  border-radius: 50%;
}

.mypay-right .contents-wrap .mypay-right__orderProduct {
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px 30px;
  border-radius: 15px;
  border: 1px solid #c2c1c4;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.mypay-right .contents-wrap .mypay-right__orderProduct img {
  width: 40%;
  height: auto;
}
.mypay-right__orderProduct__text {
  width: 60%;
  height: auto;
  text-align: right;
}
.mypay-right__orderProduct__text > b {
  font-size: 22px;
  color: #284c39;
  font-family: 'NanumSquareAc', sans-serif;
  display: inline-block;
  margin-bottom: 8px;
}
.mypay-right__orderProduct__text > span {
  font-size: 16px;
  color: #888888;
  display: inline-block;
  margin-bottom: 15px;
}

.mypay-right__orderProduct__text > strong {
  display: inline-block;
  color: #314b3a;
  font-size: 17px;
  font-weight: 600;
  background: #f8f8f8;
  border: 1px solid #c2c1c4;
  border-radius: 27px;
  padding: 4px 18px;
  margin-bottom: 15px;
}

.mypay-right__orderProduct__text > button {
  width: 120px;
  height: 36px;
  display: inline-block;
  color: #5b9379;
  font-size: 12px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #66a889;
  border-radius: 0px 8px 8px 8px;
  padding: 4px 18px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.mypay-right__orderProduct__text__price__before-num {
  font-size: 21px;
  font-weight: 600;
  color: #767678;
}
.mypay-right__orderProduct__text__price__before-unit {
  font-size: 16px;
  font-weight: 600;
  color: #767678;
}

.mypay-right__orderProduct__text__price__after-num {
  font-size: 30px;
  font-weight: 600;
  color: #2c5c36;
  display: inline-block;
  margin-left: 8px;
}
.mypay-right__orderProduct__text__price__after-unit {
  font-size: 24px;
  font-weight: 600;
  color: #2c5c36;
}

/* button */
.mypay-right .contents-wrap button.btnST02 {
  width: 100%;
  height: 65px;
  font-size: 22px;
  border: 1px solid #c2c1c4;
  color: #242624;
  font-weight: bold;
  background: #f8f8f8;
  border-radius: 0 15px 15px 15px;
  border: 1px solid #51857c;
  color: #f8f8f8;
  background: #51857c;
  margin-top: 20px;
}

.mypay-right .contents-wrap button.btnST02:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* mypay-method */
.mypay-method {
  color: #51857c;
  font-size: 20px;
  padding: 25px 10px;
  padding-right: 3 0px;
  border: 1px solid #b0aeb2;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.mypay-method__name {
  margin-right: auto;
}
.mypay-method__time {
  font-size: 16px;
  color: #888888;
}

.mypay-method img {
  position: relative;
  width: 30px;
  height: 30px;
  background: #f8f8f8;
  margin-left: 25px;
  margin-right: 15px;
  border-radius: 5px;
}

.mypay-method > strong {
  display: inline-block;
  color: #314b3a;
  font-size: 17px;
  font-weight: 600;
  background: #f8f8f8;
  border: 1px solid #c2c1c4;
  border-radius: 27px;
  padding: 4px 18px;
}

.mypay-method__price {
  display: inline-block;
}
