/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*나눔스퀘어 네오*/
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

/*clearfix*/
.cf:after {
  clear: both;
  content: '';
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareAc', sans-serif;
}

/* text-decoration: line-through; */

/*layout*/

.pay_wrap {
  display: flex;
  width: 1120px;
  margin: 0 auto;
}

.pay_wrap input[type='text'],
.pay_wrap input[type='number'],
.pay_wrap input[type='password'] {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 15px 20px;
  border: 1px solid #767678;
  border-radius: 10px;
}

.pay_wrap input[type='text']:required,
.pay_wrap input[type='number']:required,
.pay_wrap input[type='password']:required {
  border: 1px solid #e82b2b;
  background: #f8e5e5;
}

input::placeholder {
  color: #767678;
}
input:required::placeholder {
  color: #f26969;
}

.pay-left__saleCode__btnWrap {
  display: flex;
  justify-content: space-between;
}

.pay-left__saleCode__btnWrap input[type='text'] {
  width: 295px;
}

.pay_wrap > .pay-left {
  width: 680px;
  height: auto;
  min-height: 500px;
  padding: 65px 20px;
  padding-right: 50px;
}
.pay_wrap > .pay-right {
  width: 440px;
  height: auto;
  min-height: 500px;
  background: #f7f7f7;
  padding: 35px 20px;
}

.pay-accordion {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.pay-accordion__summary {
  background: #fff;
  border-bottom: 2px solid #d5d5d5;
}

.pay-accordion__summary__header {
  color: #51857c;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}
.pay-accordion__summary__header label {
  width: 100%;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.pay-accordion__summary__header label .arrowed {
  position: absolute;
  top: 13px;
  right: 0px;
  margin: 0;
}

.pay-accordion__details-wrap {
  position: relative;
  border-top: 2px solid #d5d5d5;
  padding: 20px;
  background: #f5f7f4;
}
.pay-accordion__details {
}

.pay-accordion__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pay-accordion__details__input--half {
  width: 48.5%;
  margin-bottom: 20px;
}
.pay-accordion__details__input--half.cardPassword {
  position: relative;
}
.pay-accordion__details__input--half.cardPassword ::before {
  position: absolute;
  top: 50px;
  right: 100px;
  content: '';
  width: 8px;
  height: 8px;
  background: #425344;
  border-radius: 50%;
  display: inline-block;
}
.pay-accordion__details__input--half.cardPassword ::after {
  position: absolute;
  top: 50px;
  right: 80px;
  content: '';
  width: 8px;
  height: 8px;
  background: #425344;
  border-radius: 50%;
  display: inline-block;
}
.pay-accordion__details__input--half label,
.pay-accordion__details__input label {
  font-size: 16px;
  color: #284c39;
  font-weight: 600;
  width: 100%;
}

.pay-accordion__details__input--half.inputHalf input {
  width: 47.5%;
}
.pay-accordion__details__input--half.inputHalf input:nth-of-type(2) {
  margin-left: 9px;
}

.pay-accordion__details__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pay-accordion__details__input label {
  width: 100%;
}
.pay-accordion__details__input input[type='number'] {
  width: 23%;
}

.pay_wrap article {
  margin-bottom: 40px;
}
.pay_wrap article h5,
.pay_wrap aside h5 {
  position: relative;
  color: #284c39;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}
.pay_wrap article h5::before,
.pay_wrap aside h5::before {
  position: absolute;
  top: 7px;
  left: -20px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #91c565;
  border-radius: 50%;
}
.pay_wrap .pay-left__orderProduct {
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px 30px;
  border-radius: 15px;
  border: 1px solid #c2c1c4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.pay_wrap .pay-left__orderProduct img {
  width: 40%;
  height: auto;
}
.pay-left__orderProduct__text {
  width: 60%;
  height: auto;
  text-align: right;
}
.pay-left__orderProduct__text > b {
  font-size: 22px;
  color: #284c39;
  font-family: 'NanumSquareAc', sans-serif;
  display: inline-block;
  margin-bottom: 8px;
}
.pay-left__orderProduct__text > span {
  font-size: 16px;
  color: #888888;
  display: inline-block;
  margin-bottom: 15px;
}

.pay-left__orderProduct__text > strong {
  display: inline-block;
  color: #314b3a;
  font-size: 17px;
  font-weight: 600;
  background: #f8f8f8;
  border: 1px solid #c2c1c4;
  border-radius: 27px;
  padding: 4px 18px;
  margin-bottom: 15px;
}

.pay-left__orderProduct__text__price__before-num {
  font-size: 21px;
  font-weight: 600;
  color: #767678;
  text-decoration: line-through;
}
.pay-left__orderProduct__text__price__before-unit {
  font-size: 16px;
  font-weight: 600;
  color: #767678;
}

.pay-left__orderProduct__text__price__after-num {
  font-size: 30px;
  font-weight: 600;
  color: #2c5c36;
  display: inline-block;
  margin-left: 8px;
}
.pay-left__orderProduct__text__price__after-unit {
  font-size: 24px;
  font-weight: 600;
  color: #2c5c36;
}
.pay-left__saleCode__btnWrap {
}
.pay-left__saleCode__btnWrap input[type='text'] {
  font-size: 16px;
}
article .explanation {
  width: 100%;
  height: auto;
  padding: 20px 40px;
  line-height: 1.8em;
  background: #f8f8f8;
  border: 1px solid #767678;
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 15px;
}
article .explanation ul li {
  position: relative;
}
article .explanation ul li::before {
  position: absolute;
  top: 10px;
  left: -15px;
  border-radius: 50%;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #cfd4d0;
}
/*Reset*/
dl,
ol,
ul {
  margin-bottom: 0px;
}
.pay-right .sticky {
  position: sticky;
  top: 0px;
  padding-top: 30px;
}
.pay-right .paymentDetail {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #767678;
  border-radius: 15px 15px 0px 0px;
  padding: 30px 35px;
}

.pay-right .paymentDetail__orderPrice {
  display: flex;
}

.pay-right .paymentDetail__orderPrice .priceName {
  font-family: 'NanumSquareAc', sans-serif;
  font-weight: 900;
  color: #242624;
  font-size: 20px;
  margin-right: auto;
}

.pay-right .paymentDetail__orderPrice .price {
  font-size: 26px;
  font-weight: 600;
  color: #2c5c36;
  display: inline-block;
  position: relative;
  top: -5px;
}

.pay-right .paymentDetail__orderPrice .priceUnit {
  font-size: 22px;
  font-weight: 600;
  color: #2c5c36;
  display: inline-block;
  margin-left: 5px;
}

.pay-right .paymentDetail > ol > li {
  border-left: 2px solid #767678;
  padding-left: 20px;
  line-height: 2.5em;
  color: #767678;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.pay-right .paymentDetail > ol > li .priceName {
  font-size: 18px;
  margin-right: auto;
}

.pay-right .paymentDetail > ol > li .price {
  font-size: 18px;
}

.pay-right .paymentDetail > ol > li .priceUnit {
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
}

.pay-right .payPrice {
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px 35px;
  padding-bottom: 15px;
  background: #5bb28e;
  color: #fff;
  border-radius: 0px 0px 15px 15px;
}
.pay-right .payPrice .priceName {
  font-family: 'NanumSquareAc', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
}
.pay-right .payPrice .price {
  font-size: 26px;
  font-weight: 600;
  position: relative;
  top: -4px;
}
.pay-right .payPrice .priceUnit {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
}

.pay_wrap button.btnST01 {
  width: 295px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  background: #f7f7f7;
  color: #242624;
  border: 1px solid #c8c7ca;
  border-radius: 0 10px 10px 10px;
}

.pay_wrap button.btnST01.active {
  background: #455245;
  color: #f8f8f8;
  border: 1px solid #455245;
}
.pay_wrap button.btnST02 {
  width: 100%;
  height: 65px;
  font-size: 22px;
  border: 1px solid #c2c1c4;
  color: #242624;
  font-weight: bold;
  background: #f8f8f8;
  border-radius: 0 15px 15px 15px;
}
.pay_wrap button.btnST02.active {
  border: 1px solid #51857c;
  color: #f8f8f8;
  background: #51857c;
}

.pay_wrap .pay-right button.btnST02 {
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pay-accordion__summary__header label img {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;

  background: #f8f8f8;
  margin-left: 25px;
  margin-right: 15px;
  border-radius: 5px;
}

/* <select> styles */
select {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */

  width: 100%;
  height: 50px;
  padding: 0 4em 0 1em;
  background: #fff url('/img/IC_SelectArrow.png') no-repeat right 15px center;
  -webkit-appearance: none;
  border-radius: 10px;
  border: 1px solid #767678;
  cursor: pointer;
  color: #767678;

  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}
select:hover {
  color: #000;
}
select:required {
  border: 1px solid #e82b2b;
  color: #f26969;
  background: #f8e5e5 url('/img/IC_SelectArrow.png') no-repeat right 15px center;
}
select option {
  color: inherit;
  background-color: #f8f8f8;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
}

/* Arrow holder */
.arrowed {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0 20px 20px 0;
}

/* Just centering the examples */
.arrowed div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* -- ARROW 1      -- */

.arrow-1 {
  height: 15px;
  width: 15px;
  border: 1px solid #cdcad1;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
}

.d-flex {
  display: flex;
}

.up {
  transform: translateY(-5%);
}

.down {
  transform: translateY(-40%);
}

.btn-active a {
  color: #000 !important;
}

.center {
  justify-content: center;
  align-items: center;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
}

.function-top {
  width: 100%;
}
.function-top ul {
  display: inline-block;
  width: 100%;
}
.function-top.up ul {
  display: none;
}

.function-top ul li {
  font-size: 14px;
  color: #767678;
  display: flex;
}

.function-top ul li .priceName {
  margin-right: auto;
}

.function-top,
.function-down {
  position: relative;
  padding: 0;
  transition: all 0.5s;
}

.function-top li a,
.function-down li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.function-down h2 {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 800;
}
.function-down p {
  font-size: 20px;
  font-weight: 800;
  margin-left: 16px;
}
.function-down li a {
  color: #aaa;
}
.function-down li i {
  margin-right: 0;
}

.toggle-up {
  transition: all 0.8s;
  position: absolute;
  cursor: pointer;
  right: 69%;
  top: -26px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 0;
  line-height: 70px;
}

.toggle-up .arrowed {
  width: 10px;
  height: 10px;
  margin: 0;
}
.toggle-up .arrow-2 {
  height: 10px;
  width: 10px;
  border: 1px solid #cdcad1;
  border-width: 1px 1px 0 0;
  transform: rotate(-45deg);
}

.active .arrow-2 {
  transform: rotate(135deg);
}

.toggle-down {
  z-index: 1;
  transition: all 0.8s;
  cursor: pointer;
  position: absolute;
  right: auto;
  left: 100px;
  bottom: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.toggle-down.active {
  bottom: 15px;
}
.toggle-down .arrow-1 {
  border: 1px solid #68b271;
  border-width: 0px 0px 1px 1px;
}

.toggle-down.active .arrow-1 {
  transform: rotate(-45deg);
}
.function-down {
  visibility: hidden;
}

.Mo-payPrice-wrap {
  display: none;
}

span.validation {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #f26969;
  margin-top: 5px;
  margin-left: 5px;
}

@media (max-width: 960px) {
  .pay_wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .pay_wrap > .pay-left {
    width: 100%;
    padding: 20px;
  }
  .pay_wrap .pay-left__orderProduct {
    position: relative;
  }

  .pay-left__saleCode__btnWrap input[type='text'] {
    width: 49%;
    font-size: 12px;
  }
  .pay_wrap button.btnST01 {
    width: 49%;
    height: 35px;
    font-size: 14px;
    border-radius: 0 7px 7px 7px;
  }
  .pay_wrap input[type='text'],
  .pay_wrap input[type='number'],
  .pay_wrap input[type='password'] {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 7px;
  }

  article .explanation {
    padding: 15px 15px 15px 30px;
    font-size: 12px;
  }
  .pay-accordion {
    margin: 0;
    width: 100%;
  }
  .pay-accordion__summary__header {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .pay-accordion__summary__header label img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .pay-accordion__summary__header label .arrowed {
    margin: 0;
    top: 2px;
    right: 0px;
  }
  .arrow-1 {
    height: 10px;
    width: 10px;
    border: 1px solid #cdcad1;
    border-width: 1px 1px 0 0;
  }
  select {
    height: 35px;
    font-size: 12px;
    border-radius: 7px;
    background: #fff url('/img/IC_SelectArrow.png') no-repeat right 8px center;
    background-size: 10%;
  }

  select:required {
    background: #f8e5e5 url('/img/IC_SelectArrow.png') no-repeat right 8px center;
  }
  .pay-accordion__details-wrap {
    padding: 15px;
  }
  .pay-accordion__details__input--half {
    margin-bottom: 10px;
  }
  .pay-accordion__details__input--half label,
  .pay-accordion__details__input label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .pay-accordion__details__input--half.inputHalf input:nth-of-type(2) {
    margin-left: 3px;
  }
  .pay-accordion__details__input--half.cardPassword ::before {
    width: 5px;
    height: 5px;
    top: 40px;
    right: 60px;
  }
  .pay-accordion__details__input--half.cardPassword ::after {
    width: 5px;
    height: 5px;
    top: 40px;
    right: 50px;
  }
  .function-down {
    visibility: visible;
  }
  .function-down {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: -22px;
  }
  .function-down .paymentDetail {
    display: none;
  }

  .function-down.down .paymentDetail {
    display: block;
    width: 100%;
    background: #fff;
    border: 2px solid #5d847c;
    padding: 25px;
    border-radius: 15px 15px 0 0;
  }
  .function-down.down .paymentDetail .paymentDetail-BG {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 15px 15px 0 0;
  }
  .mob_box {
    display: none;
  }
  .Mo-payPrice-wrap {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .Mo-payPrice-wrap .payPrice {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 45px;
    padding-bottom: 5px;
    background: #5bb28e;
    color: #fff;
    z-index: 3;
    position: relative;
  }

  .Mo-payPrice-wrap .payPrice .priceName {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-right: auto;
  }
  .Mo-payPrice-wrap .payPrice .price {
    font-size: 18px;
    position: relative;
    top: -4px;
  }
  .Mo-payPrice-wrap .payPrice .priceUnit {
    display: inline-block;
    margin-left: 4px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    border: 2px solid #5d847c;
    background: #f8f8f8;
    padding: 10px 20px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .priceName {
    width: 100%;
    font-size: 11px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .price {
    font-size: 18px;
  }
  .Mo-payPrice-wrap .payPrice-button-wrap .payPrice__button .priceUnit {
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-left: 3px;
    top: 2px;
  }

  .Mo-payPrice-wrap .payPrice-button-wrap .btnST02 {
    width: 50%;
    width: 49%;
    height: 40px;
    font-size: 14px;
    border-radius: 0 7px 7px 7px;
  }
  .function-down .paymentDetail__orderPrice {
    display: flex;
    margin-bottom: 10px;
  }
  .function-down .paymentDetail__orderPrice .priceName {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-right: auto;
  }
  .function-down .paymentDetail__orderPrice .price {
    font-size: 15px;
    color: #2c5c36;
    position: relative;
    top: -2px;
  }
  .function-down .paymentDetail__orderPrice .priceUnit {
    font-size: 13px;
    color: #2c5c36;
    display: inline-block;
    margin-left: 3px;
  }
  .function-down .paymentDetail ol li {
    border-left: 1px solid #767678;
    padding-left: 10px;
    line-height: 2em;
    color: #767678;
    display: flex;
  }
  .function-down .paymentDetail ol li .priceName {
    font-size: 12px;
    font-weight: 700;
    margin-right: auto;
  }
  .function-down .paymentDetail ol li .price {
    font-size: 13px;
    font-weight: 700;
  }
  .function-down .paymentDetail ol li .priceUnit {
    font-size: 10px;
    display: inline-block;
    margin-left: 3px;
  }

  .pay-right .paymentDetail__orderPrice .priceName {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-right: auto;
  }
  .pay-right .paymentDetail__orderPrice .price {
    font-size: 15px;
    color: #2c5c36;
    position: relative;
    top: -2px;
  }
  .pay-right .paymentDetail__orderPrice .priceUnit {
    font-size: 13px;
    color: #2c5c36;
    display: inline-block;
    margin-left: 3px;
  }
  .pay-right .paymentDetail > ol > li {
    border-left: 1px solid #767678;
    padding-left: 10px;
    line-height: 2em;
    color: #767678;
    display: flex;
  }
  .pay-right .paymentDetail > ol > li .priceName {
    font-size: 12px;
    font-weight: 700;
    margin-right: auto;
  }
  .pay-right .paymentDetail > ol > li .price {
    font-size: 13px;
    font-weight: 700;
  }
  .pay-right .paymentDetail > ol > li .priceUnit {
    font-size: 10px;
    display: inline-block;
    margin-left: 3px;
  }

  .pay-right .payPrice {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 25px;
    padding-bottom: 5px;
    background: #5bb28e;
    color: #fff;

    position: relative;
  }

  .pay-right .payPrice .priceName {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-right: auto;
  }
  .pay-right .payPrice .price {
    font-size: 18px;
    position: relative;
    top: -4px;
  }
  .pay-right .payPrice .priceUnit {
    font-size: 13px;
    display: inline-block;
    margin-left: 4px;
  }
  .toggle-up.active {
    right: 71%;
    top: -22px;
  }
  .toggle-up {
    right: 71%;
    top: -17px;
  }
  .pay_wrap .pay-right button.btnST02 {
    display: none;
  }
  .pay-right .sticky {
    position: relative;
    padding-top: 0;
  }

  .pay_wrap article.paymentMethod {
    margin-bottom: 20px;
  }
  .pay_wrap > .pay-right {
    min-height: 200px;
    width: 100%;
  }
  .pay_wrap article h5::before,
  .pay_wrap aside h5::before {
    top: 4px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  .pay_wrap .pay-left__orderProduct img {
    position: absolute;
    top: 100px;
  }
  .pay-left__orderProduct__text {
    width: 100%;
    text-align: left;
  }
  .pay-left__orderProduct__text > b {
    margin-bottom: 0;
  }
  .pay-left__orderProduct__text strong {
    display: inline-block;
    float: right;
    margin-left: 50%;
    font-size: 14px;
    margin-bottom: 7px;
  }
  .pay-left__orderProduct__text__price {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    justify-content: flex-end;
    float: right;
  }
  .pay-left__orderProduct__text__price__before-num {
    font-size: 17px;
  }
  .pay-left__orderProduct__text__price__before-unit {
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 2px;
  }
  .pay-left__orderProduct__text__price__after-num {
    font-size: 25px;
  }
  .pay-left__orderProduct__text__price__after-unit {
    font-size: 20px;
    display: inline-block;
    margin-left: 3px;
    margin-top: 5px;
  }
}

@media (max-width: 361px) {
  .pay-left__orderProduct__text > b {
    font-size: 20px;
  }
}
