.modal_bg {
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.7);
}
.modal_wrap {
  position: relative;
  background: #fff;
  width: 550px;
  height: 90vh;
  margin-top: 5vh;
  border-radius: 0 35px 35px 35px;
}
.modal_close_select {
  position: absolute;
  width: auto;
  top: -40px;
  left: 20px;
  color: #fff;
  background: transparent;
  display: inline-block;
}
.modal_close_button {
  position: absolute;
  width: 2.813rem;
  height: 2.813rem;
  font-size: 0;
  top: -40px;
  right: 20px;
  color: #fff;
  background: url('/img/IC_PopUp_closeBtn.png') no-repeat;
  background-size: cover;
  display: inline-block;
}

.modal_button_wrap {
  width: 100%;
  background: #fff;
}

.modal_button_wrap > [class^='btn-01'] {
}
.modal_button_wrap > [class^='btn-02'] {
}

.modal_button_wrap > [cclass$='-neu'] {
}

.modal_button_wrap > [cclass$='-pos'] {
}

.modal_button_wrap > [cclass$='-neg'] {
}
