/* 스크롤바 스타일 */
.modal_wrap::-webkit-scrollbar {
  width: 10px;
}

.modal_wrap::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.modal_wrap::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.modal_contents {
  margin: 5%;
  height: 200px;
  overflow-y: scroll;
}

.modal_bg {
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.7);
}
.modal_wrap {
  position: relative;
  background: #fff;
  width: 550px;
  height: 90vh;
  margin-top: 5vh;
  border-radius: 0 35px 35px 35px;
  font-family: 'Pretendard', serif;
}
.modal_close_select {
  position: absolute;
  width: auto;
  top: -40px;
  left: 20px;
  color: #fff;
  background: transparent;
  display: inline-block;
}
.modal_close_button {
  position: absolute;
  width: 2.813rem;
  height: 2.813rem;
  font-size: 0;
  top: -40px;
  right: 20px;
  color: #fff;
  background: url('/img/IC_PopUp_closeBtn.png') no-repeat;
  background-size: cover;
  display: inline-block;
}

.modal_button_wrap {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.875rem;
  border-radius: 0 0 35px 35px;
}

.modal_button_wrap button {
  border-radius: 0 1rem 1rem 1rem;
}

.modal_button_wrap > [class^='btn01'] {
  width: 100%;
}
.modal_button_wrap > [class^='btn02'] {
  width: 48%;
}

.modal_button_wrap > [class$='-neu'] {
  color: #5b9379;
  border: 2px solid #66a889;
}

.modal_button_wrap > [class$='-pos'] {
  color: #fff;
  background: #3d5443;
}

.modal_button_wrap > [class$='-neg'] {
  background: #97ab97;
}
