.swiperWrap {
  position: relative;
  overflow: hidden;
}
.swiperWrap::after {
  content: '';
  display: block;
  width: 3rem;
  height: 6.25rem;
  background: url('/Us-campus/img/WG_bg03.png');
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}
.swiperWrap::before {
  content: '';
  display: block;
  width: 3rem;
  height: 6.25rem;
  background: url('/Us-campus/img/WG_bg03.png');
  position: absolute;
  top: 0;
  left: -0.625px;
  z-index: 20;
  transform: rotate(0.5turn);
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
  margin-left: 0;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  font-weight: 400;
  height: 4rem;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /*추가*/
  border-bottom: 2px solid #ddd;
  position: relative;
  width: auto !important;
  padding: 0 4.688rem;
  min-width: 33.333%;
}
.swiper-slide:first-of-type {
  margin-left: 0px;
}
/*11.09 추가부분*/
.swiper-slide:last-of-type {
  margin-right: 3rem;
}
.swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 3.5rem;
  font-size: 1.1rem;
  color: #666;
}
.swiper-slide.active {
  border-bottom: 2px solid #01954a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700;
  z-index: 20;
}

.swiper-slide.active a {
  color: #01954a;
}
.swiper-slide:hover {
  border-bottom: 2px solid #08b061;
  transition: all 0.3s;
}

.stickyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 4rem;
  z-index: 30;
  background: #fff;
  margin: 1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/*clearfix*/
.cf:after {
  clear: both;
  content: '';
  display: block;
}

.study-vis {
  overflow: visible;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #b8dbc7;
}

.swiper-button-next {
  background: url('/img/arrow.png') no-repeat;
  background-size: 50% auto;
  background-position: center;
  opacity: 0.4;
}

.swiper-button-prev {
  background: url('/img/arrow.png') no-repeat;
  background-size: 50% auto;
  background-position: center;
  transform: rotate(0.5turn);
  opacity: 0.4;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '' !important;
  width: 50px;
  height: 50px;
  background: url('/img/arrow.png') !important;
  background-size: cover;
  display: block;
} */

/* .swiper-button-next,
.swiper-button-prev {
  position: relative;
  z-index: 30;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 30;
  background: url('/img/arrow.png') !important;
  background-size: cover;
} */

@media (max-width: 960px) {
  .stickyBox {
    height: 4rem;
    margin: 1rem 0;
    width: 110%;
    margin-left: -5%;
  }
  .swiper-slide {
    height: 4rem;
    padding: 0 2rem;
    min-width: 32%;
  }
  .swiper-slide:first-of-type {
    margin-left: 1rem;
  }
  .swiper-slide a {
    line-height: 4rem;
    font-size: 1rem;
  }
  .swiper-button-next {
    background: url('/img/arrow.png') no-repeat;
    background-size: 30% auto;
    background-position: center;
    opacity: 0.4;
  }

  .swiper-button-prev {
    background: url('/img/arrow.png') no-repeat;
    background-size: 30% auto;
    background-position: center;
    transform: rotate(0.5turn);
    opacity: 0.4;
  }
}
@media (max-width: 720px) {
  .stickyBox {
    height: 4rem;
    margin: 1rem 0;
    width: 110%;
    margin-left: -5%;
  }
  .swiper-slide {
    height: 4rem;
    padding: 0 2rem;
    min-width: 32%;
  }
  .swiper-slide:first-of-type {
    margin-left: 1rem;
  }
  .swiper-slide a {
    line-height: 4rem;
    font-size: 1rem;
  }
}
